<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comapny details</title>
    <link rel="stylesheet" href="/css/companydetails.css">
</head>
<body>
<div class="container">
    <div class="heading">
        <h1>Company Details</h1>
    </div>
    <div class="companyD">
        <% article.forEach(element=>{%>
          <div class="companyD_details">
            <h1><%=element.cpname%></h1>
            <p><%=element.infor %></p><br>
            <p><b>Role:</b><%=element.role%></p> 
            <p><b>Month:</b><%=element.time%></p>
            <p><b>Eligiblity:</b><%=element.eligiblity%></p>
            <div class="buttons">
                <a class="btn btn_danger"href="/admin/delete/<%= element.id %>">
                  Delete
              </a>
              </div>
        </div>
       <% });%>
    </div>
</div>
</body>
</html>