<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>experience page</title>
    <link rel="stylesheet" href="/css/experience.css">
</head>
<body>
    <div class="container">
    <div class="heading">
        <h1>Welcome to our experience</h1>
        <a class="btn btn_success"href="/admin/Aexperience">Home</a>
    </div>
    <div class="single_post">
    <h1><%=article.copname%> </h1>
    <h1><%=article.pos%></h1>
    <p><%=article.info%></p>
    <h5><%=article.sdname%></h5>
    <h5><%=article.emailid %></h5>
    </div>
</div>
</body>
</html>